.Tooltip {
	display: none;
    position: absolute;
	padding: 8px 5px;
	text-align: center;
	background-color: #000000;
	color: #ffffff;
	border: 1px solid #000000;
	border-radius: 4px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	font-size: 0.9rem;
	white-space: nowrap;
    padding-inline: 10px;
	&::before {
		content: "";
		position: absolute;
		border: 9px solid transparent;
		z-index: -1;
	}
	&.top {
		top: -43px;
		left: 50%;
		transform: translateX(-50%);
		&::before {
			border-top-color: #000000;
			bottom: -16px;
		}
	}
	&.bottom {
		bottom: -43px;
		left: 50%;
		transform: translateX(-50%);
		&::before {
			border-bottom-color: #000000;
			top: -16px;
		}
	}
	&.left {
		left: -120%;
		top: 50%;
		transform: translateY(-50%);
		&::before {
			border-left-color: #000000;
			right: -18px;
			top: 50%;
			transform: translateY(-50%);
		}
	}
	&.right {
		right: 0px;
		top: 50%;
		translate: 100% 0;
        transform: translateY(-50%);
		&::before {
			border-right-color: #000000;
			left: -18px;
			top: 50%;
			transform: translateY(-50%);
		}
	}
}
